/* CSS files add styling rules to your content */
/* ------------design component---------------- */

:root {
    --typeface-display: 'Josefin', sans-serif;
    --typeface-text: 'Open Sans', sans-serif;
    --line-height-title: 4rem;
    --line-height-subtitle: 3rem;
    --color-primary: 148, 187, 184;
    --color-primary-dark: 117, 161, 157;
    /* 133,177,173; */
    --color-tone: 228, 247, 244;
    --color-tint: 217, 237, 234;
    --color-dark: 0, 0, 0;
    --color-white: 255, 255, 255;
    --color-grey: 204, 204, 204;
    --color-secondary: 186, 149, 149;
    --color-third: 224, 205, 195;
    --color-fourth: 227, 214, 143;
    --grid-gap: 24px;
    --grid-gap-row: 80px;
    --margin-primary: 15%;
    --margin-medium: 10%;
    --margin-small: 32px;
    --margin-x-small: 24px;
    --margin-item: 16px;
    --margin-icon: 8px;
    --width-max: 1120px;
    --width-max-prj: 1240px;
    --size-large: 60px;
    --size-medium: 48px;
    --size-small: 32px;
    --size-x-small: 24px;
    --size-xx-small: 20px;
    --size-xxx-small: 16px
}
/* ------------body ---------------- */

body {
    margin: 0;
    font-family: var(--typeface-text);
}

p {
    color: rgba(var(--color-dark), 1);
    font-size: 16px;
    line-height: 2rem;
    margin-bottom: var(--margin-item);
}

a {
    text-decoration: none;
    cursor: pointer;
}

.fa {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.fa:hover {
    transform: rotateY(180deg);
}

hr {
    grid-column: 1 / span 8;
    border-width: 2px;
}
/* ----------main -----------*/

.sec_1 {
    display: block;
    position: relative;
    background-color: rgba(var(--color-dark), 0);
    width: 100%;
    height: 500px;
}

.sec_1 .fa {
    color: rgba(var(--color-primary-dark), 1);
    font-size: var(--size-x-small);
    padding: var(--margin-icon);
    border-radius: 10px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.sec_1 .fa:hover {
    transform: rotateY(180deg);
}

.landing_grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
    margin: 0 auto;
    max-width: var(--width-max)
}

.prj_landing_left {
    position: relative;
    grid-column: 1 / span 4;
    /* grid-row: 1/ span 2; */
}

.prj_landing_right {
    position: relative;
    grid-column: 5 / span 4;
    /* grid-row: 1/ span 2; */
}

.prj_landing_right img {
    position: relative;
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
}

.prj_main_grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 0.5fr auto auto auto);
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap-row);
    margin: 0 auto;
    max-width: var(--width-max);
}

.prj_index_container {
    background-color: rgba(var(--color-white), 0);
    grid-column: 1 / span 2;
    height: auto;
    width: auto;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.prj_content_container {
    background-color: rgba(var(--color-white), 0);
    grid-column: 3/ span 6;
    height: auto;
    width: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.prj_index_container_full {
    background-color: rgba(var(--color-white), 0);
    grid-column: 1 / span 8;
    height: auto;
    width: auto;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.prj_content_container_full {
    background-color: rgba(var(--color-white), 0);
    grid-column: 1/ span 8;
    height: auto;
    width: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
/* ------project description ---------*/
/* tags */

.tags_container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.tags {
    margin: 8px;
    margin-left: 0;
    padding: 4px 8px;
    border-radius: 5px;
    color: rgba(var(--color-dark), 1);
    font-family: var(--typeface-display);
    font-weight: 600;
}

.tags_ixd {
    background-color: rgba(var(--color-tone), 1);
}

.tags_pd {
    background-color: rgba(var(--color-third), 1);
}

.tags_proto {
    background-color: rgba(var(--color-grey), 1);
}

.tags_lead {
    background-color: rgba(var(--color-fourth), 1);
}
/* -------prj logitics -------*/

.prj_logistic_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 1 / span 8;
    margin: auto 0;
    justify-content: flex-start;
    /* background-color: pink; */

}

.prj_logistic {
    width: 22%;
    /* margin-left:  var(--margin-small); */
    /* padding: 0 var(--margin-item); */
    margin-right:  var(--margin-small);
    margin-bottom:var(--margin-small);
    /* background-color: lightblue; */
}

.prj_logistic h5 {
    color: rgba(var(--color-dark), .6);
}
/* ----------content------------ */
/* info */
.prj_highlight{
    background-color: rgba(var(--color-primary), 0.3);
    
}
.prj_bold{
    font-weight: 900;
}

.prj_index {
    position: relative;
    width: 100%;
    background-color: rgba(var(--color-tint), 0);
    grid-row: 2 / span 1;
}

.prj_index h3 {
    color: rgba(var(--color-dark), .6);
}

.sticky_title {
    position: fixed;
    top: 0;
    left: auto;
    width: 100%;
}

.prj_statement {
    display: inline-block;
    position: relative;
    border-left: solid 2px rgba(var(--color-dark), 1);
    padding-left: var(--margin-item);
    margin-bottom: var(--margin-item);
}

.prj_statement h3 {
    font-style: italic;
}



.prj_key_insights {
     display: inline-block;
    position: relative; 
    margin: var(--margin-small) auto;
    background-color: rgba(var(--color-primary), 0.2);
    border-radius: 10px;
    padding: var(--margin-x-small);

    /* border-left: solid 5px rgba(var(--color-dark), 0.5);
    padding-left: var(--margin-item);
    margin-bottom: var(--margin-item);*/
    /* text-indent:50px;  */
}
.prj_caption{
    text-transform: uppercase;
    font-weight: 900;
    color: rgba(var(--color-dark), .3)
}

.prj_content_container img {
    width: 100%;
    display: block;
}

.prj_content_container h5 {
    color: rgba(var(--color-dark), .6);
}

.prj_finding_indent{
    padding-left:50px;
}

.prj_finding_highlight{
    position: relative;
    display:inline-block;
    height:10%;
    background: linear-gradient(180deg,rgba(255,255,255,0) 70%, rgba(var(--color-primary),0.6) 30%);
}


/* .prj_finding_highlight::after{
    content: "";
    position: absolute;
    width: 100%;
    background: orange;
    left: 0;
    bottom: 0;
    height: .6em;
    z-index: -1;
} */
.hexagon {
    position: relative;
    width: 40px; 
    height: 23.09px;
    background-color:rgba(var(--color-primary), 0.7);
    margin: 11.55px 0;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 11.55px solid rgba(var(--color-primary), 0.7);
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 11.55px solid rgba(var(--color-primary), 0.7);
  }


/* how it works */

.how_it_works_container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.prj_bullet{
    line-height: 2rem;
    text-indent:50px;
    font-weight: 700;
}

.how_it_works {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: var(--margin-item);
}

.how_it_works_text {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
}

.how_it_works_text h3 {
    font-size: 40px;
}

.how_it_works_gif {
    position: relative;
    display: flex;
    width: 40%;
    margin: 0 auto;
}
/* digital mockups */

.mockups_row_container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: var(--width-max-prj);
    justify-content: space-around;
    margin-bottom: var(--margin-x-small);
}

.mockups_column {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: var(--margin-item);
    width: 28%;
    height: 100%;
}

.mockups_text {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

.mockups_text h6 {
    color: rgba(var(--color-dark), .7)
}

.mockups_gif img {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    max-width: 280px;
    max-height: 550px;
    object-fit: contain;
}
/* The Modal  */

.modal {
    display: flex;
    position: fixed;
    z-index: 2000;
    left: 5%;
    top: 2%; 
   
    /* Negative half of height. */
    margin: 2% auto;
    /* margin-left: -20vw; 
    margin-top: -20%; */
    /* width:90vw;  */
    height:auto;
    max-width: 80vw;
    
    max-height: 90vh;
    overflow: hidden;
}
/* modal background */

.modal-box {
    display: block;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(var(--color-dark), 0.6);
}

.modal_img {
    margin-bottom: var(--margin-small);
}

.prj_video {
    width: 100%;
    display: block;
    height: 600px;
}
/* The Close Button */

.close {
    color: white;
    position: fixed;
    z-index: 2001;
    top: 10px;
    right: 25px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#modal-container .fa {
    font-size: var(--size-small);
    transition: none;
    display: none;
    background-color: lightgray;
}
/* stacked project content */

.prj_stack_content {
    position: relative;
    display: block;
    margin-bottom: var(--margin-medium);
}

.prj_enlarge_button {
    position: relative;
    display: block;
    width: 14rem;
    height: auto;
    font-size: 1rem;
    margin: var(--margin-small) auto;
    padding: 1.4rem;
    background-color: rgba(var(--color-primary-dark), 0);
    text-decoration: none;
    cursor: pointer;
    border: solid 5px rgba(var(--color-dark), 0.7);
    color: rgba(var(--color-dark), 0.7);
    font-weight: 600;
    text-transform: capitalize;
}

.prj_enlarge_button:hover {
    border: solid 5px rgba(var(--color-primary-dark), 1);
    color: rgba(var(--color-white), 1);
    background-color: rgba(var(--color-primary-dark), 1);
}

.prj_resp_imagebox{
    display:flex;
    position:relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width:100%;
}

.prj_resp_imagebox .prj_resp_imageitem{

    display:flex;
    position:relative;
    width:50%;
    flex-direction: row;
    flex-wrap: wrap;
    
    height:auto;
    padding: 0 5px;

}

.prj_resp_imagebox .prj_resp_imageitem_3{

    display:flex;
    position:relative;
    width:33%;
    flex-direction: row;
    flex-wrap: wrap;
    
    height:auto;
    padding: 0 5px;
    margin-bottom: var(--margin-item);

}

.prj_img_caption{
    display:flex;
    position:relative;
    width:auto;
    font-size:16px;
    font-weight:700;
    color: rgba(var(--color-dark), .3);
    margin-top:var(--margin-small);
}
/* ------handy index ---------*/

.sticky-toc {
    position: fixed;
    top: 40%;
    left: var(--margin-icon);
    z-index: 200;
    line-height: 28px;
    display: none;
    
}


.js-toc {
    /* margin-top: 28%; */
}

.toc {
    overflow-y: auto;
}

.toc>.toc-list {
    overflow: hidden;
}

.toc>.toc-list li {
    list-style: none;
}

.toc-list {
    list-style: none;
    padding: auto;
    padding-left: 10px;
    color: rgba(var(--color-dark), .4);
    /* non-active =gray */
    margin: auto 0;
    position: relative;
}

.toc-list .is-active-link {
    color: rgba(var(--color-dark), 1);
    /* active = black */
}

a.toc-link {
    color: currentColor;
    height: 100%;
}

.is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.is-collapsed {
    max-height: 0;
}

.is-position-fixed {
    position: fixed !important;
    top: 0;
}

.is-active-link {
    font-weight: 700;
}

.toc-link::before {
    background-color: #EEE;
    content: ' ';
    display: inline-block;
    height: inherit;
    left: 0;
    margin-top: -1px;
    position: absolute;
    width: 2px;
}

.is-active-link::before {
    background-color: rgba(var(--color-primary), 1);
}
/* ------handy buttons ---------*/

.handy_nav_container {
    display: none;
    flex-direction: column;
    position: fixed;
    justify-content: flex-end;
    right: var(--margin-small);
    bottom: var(--margin-small);
    z-index: 200;
}

.handy_nav_container .fa {
    color: rgba(var(--color-dark), 0.3);
    display: flex;
    position: relative;
    border: solid 5px rgba(var(--color-dark), 0.3);
    background-color: rgba(var(--color-primary), 0);
    font-size: var(--size-xx-small);
    border-radius: 100px;
    padding: var(--size-xxx-small);
    margin: var(--margin-item);
}

.handy_nav_container .fa:hover {
    background-color: rgba(var(--color-primary), 1);
    color: rgba(var(--color-white), 1);
    border: solid 5px rgba(var(--color-primary), 1);
    cursor: pointer;
    transform: none;
}

.rec_section {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--width-max);
    justify-content: space-between;
}
/* ------prj recommendation ---------*/

.rec_nav {
    margin: var(--margin-x-small) 0;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

.rec_container {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: var(--width-max);
    justify-content: space-between;
}

.rec_prj {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 280px;
    background-color: rgba(var(--color-dark), .05);
    border-radius: 10px;
    padding: var(--margin-item);
    align-self: stretch;
}

.rec_prj img {
    width: 100%;
}

.rec_container .tags {
    margin: 4px;
    margin-left: 0;
    padding: 2px 4px;
    border-radius: 5px;
    color: rgba(var(--color-dark), 1);
    font-family: var(--typeface-display);
    font-weight: 600;
    font-size: 12px;
}

.rec_container a {
    color: rgba(var(--color-dark), 1);
}
/* ------900px---------*/

@media only screen and (max-width: 900px) {
    nav {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        margin-bottom: var(--margin-medium);
    }
    .nav_logo_container {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        height: 5rem;
        width: 100%;
        margin-top: var(--margin-item);
    }
    .nav_list {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        height: 5rem;
        width: 100%;
    }
    .nav_list ul {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .nav_li {
        text-align: center;
    }
    .sec_1 {
        height: auto;
        display: block;
    }
    .prj_img {
        width: 80%;
    }
    .prj_title h2 {
        line-height: normal;
    }
    .landing_grid {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }
    .prj_main_grid {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }
    .rec_section {
        width: 90%;
    }
}
/* ------550px---------*/

@media only screen and (max-width: 550px) {
    /*hamburger*/
    .menu-btn { 
        position: fixed; 
        z-index: 101; 
        right: 35px; 
        top: 35px; 
        cursor: pointer; 
        transition: all 0.5s ease-out; 
    } 
  
    /* Styling the hamburger lines */
    .menu-btn .btn-line { 
        width: 28px; 
        height: 3px; 
        margin: 0 0 5px 0; 
        background: black; 
        transition: all 0.5s ease-out; 
    } 
    /* Adding tranform to the X */
    .menu-btn.close { 
        transform: rotate(180deg); 
    } 
  
    /* Styling the three lines  
        to make it an X */
    .menu-btn.close .btn-line:nth-child(1) { 
        transform: rotate(45deg) translate(5px, 5px); 
    } 
  
    .menu-btn.close .btn-line:nth-child(2) { 
        opacity: 0; 
    } 
  
    .menu-btn.close .btn-line:nth-child(3) { 
        transform: rotate(-45deg) translate(7px, -6px); 
    } 
    .menu { 
        position: fixed; 
        top: 0; 
        width: 100%; 
        opacity: 0.9; 
        visibility: hidden; 
    } 

    .menu.show { 
        visibility: visible; 
    } 

    /* nav */


    nav {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        height:auto;
        margin-bottom: var(--margin-medium);
    }
    .nav_logo_container {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        height: 5rem;
        width: 100%;
        margin-top: var(--margin-item);
    }
    .nav_list {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        /* height: 5rem; */
        height: 100%;
        width: 100%;
        z-index: 100;
        background: rgba(var(--color-white), 1);

    }
    .nav_list ul {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .nav_li {
        text-align: center;
        margin: var(--margin-small) auto;
    }
    

    /* ----- */
    .prj_logistic_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        margin: var(--margin-x-small) 0;
        justify-content:flex-start;
        align-items:flex-start;
    }
    .prj_logistic {
        width: 50%;
        margin: 0 var(--margin-icon);
    }
    /* how_it_works */
    .how_it_works {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        margin: var(--margin-small) auto;
    }
    .how_it_works_text {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }
    .how_it_works_text h3 {
        font-size: 40px;
    }
    .how_it_works_gif{
        position: relative;
        display: flex;
        width: 80%;
        height: auto;
        margin: 0;
    }
    .how_it_works_gif img{
        position: relative;
        display: flex;
        width: 100%;
        height: auto;
        margin: 0 auto;
        max-width: none;
        max-height: 600px;
        object-fit: contain;
    }
    /* how_it_works */
    .mockups_row_container {
        flex-direction: column;
    }
    .mockups_column {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: var(--margin-item);
        width: 100%;
        height: 100%;
    }
    .mockups_gif img {
        position: relative;
        display: flex;
        width: 80%;
        height: auto;
        max-width: none;
        max-height: none;
        object-fit: contain;
        margin: 0 auto;
        margin-bottom: var(--margin-small);
    }

    .sticky-toc {
        position: relative;
        top: -20;
        left: var(--margin-icon);
        z-index: 200;
        line-height: 28px;
        display: none;
        
    }


    /* The Modal  */

.modal {
    display: block;
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    margin-top: -25%;
    /* Negative half of height. */
    margin-left: -70%;
    height: auto;
    overflow: scroll;
}
/* modal background */

.modal-box {
    display: block;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(var(--color-dark), 0.6);
}

.modal_img {
    margin-bottom: var(--margin-small);
   
}
}