:root {
   
    --color-primary:  223, 236, 250 ;
    --color-primary-dark:77, 121, 168;
    
}

p {
    width:100%
}
.prj_landing_right{
    /* perspective: 1800px; */

}
.finding_section_title{
    /* text-align: left; */
    font-size: 20px;
    margin-top: var(--size-xx-small);
    margin-bottom: var(--size-xx-small);
}

.prj_stack_content_row {
    position: relative;
    display:flex;
    margin-bottom: 0;
    max-width: var(--width-max);
    flex-direction: row;
    align-items:center;
    flex-wrap: nowrap;
}

.prj_stack_content_row p{
    width:30%
}

.prj_stack_content_row .prj_stack_content{
    margin-bottom: 0;
}

.prj_landing_right img {
    position: relative;
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 2.5em;
    transform: rotate(-15deg) ;
 

}