:root {
   
    --color-primary:  223, 236, 250 ;
    --color-primary-dark:77, 121, 168;
    
}

.sec_1{
    /* height:660px; */
    overflow:visible
}


.prj_landing_right img{
    width: 120%;
    top: -100px;
} 

p {
    width:100%
}

.finding_section_title{
    /* text-align: left; */
    font-size: 20px;
    margin-top: var(--size-xx-small);
    margin-bottom: var(--size-xx-small);
}

.prj_stack_content_row {
    position: relative;
    display:flex;
    margin-bottom: 0;
    max-width: var(--width-max);
    flex-direction: row;
    align-items:center;
    flex-wrap: nowrap;
}

.prj_stack_content_row p{
    width:30%
}

.prj_stack_content_row .prj_stack_content{
    margin-bottom: 0;
}

.quickfact_item .prj_caption{
    text-align: center;
}

#testing_container .prj_key_finding_container{
    flex-wrap: wrap
}

.focus_chart{
    position: relative;
    /* display:flex;
    flex: column; */
    width: 100%;
    margin-bottom: var(--size-medium);
}

.focus_chart #chart_div_tasks{
    position: relative;
   
    height:400px;
    width:100%;
    overflow:hidden
}
.focus_chart #chart_div_fav{
    position: relative;

    height:400px;
    width:100%;
    overflow:hidden
}

@media only screen and (max-width: 900px) {
   
    .prj_landing_right img{
        width: 100%;
        top: -100px;
    } 
    .prj_key_finding_container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        margin-bottom: var(--size-medium);
    }
    }


@media only screen and (max-width: 600px) {

    .prj_landing_right img{
        width: 100%;
        top: -100px;
    } 
    
    .prj_stack_content_row {
        position: relative;
        display: flex;
        margin-bottom: 0;
        max-width: var(--width-max);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .prj_stack_content_row p{
        width:100%
    }
    
    .prj_key_finding_container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        margin-bottom: var(--size-medium);
    }
    }