:root {
   
    --color-primary:  223, 236, 250 ;
    --color-primary-dark:77, 121, 168;
    
}


.sec_1{
    height:fit-content;
    overflow: visible;
}
.focus_landing {
    width:100%;
    height:fit-content;
    padding-bottom:0
    
}
.focus_landing img{
    display:grid;
    grid-column: 1 /span 12;
    width:100%

}

.focus_para{
    position: relative;
  display: flex;
 
  height: 650px;
  margin-bottom: var(--size-large);
  background-image: url("../../img/hero_img/Focus_hero_L.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top 50px left 50%;
  background-size:contain;

}
/* .prj_landing_right img{
    width: 120%;
    top: -100px;
}  */


.finding_section_title{
    /* text-align: left; */
    font-size: 20px;
    margin-top: var(--size-xx-small);
    margin-bottom: var(--size-xx-small);
}

.prj_stack_content_row {
    position: relative;
    display:flex;
    margin-bottom: 0;
    max-width: var(--width-max);
    flex-direction: row;
    align-items:center;
    flex-wrap: nowrap;
}

.prj_stack_content_row p{
    width:30%
}

.prj_stack_content_row .prj_stack_content{
    margin-bottom: 0;
}

.quickfact_item .prj_caption{
    text-align: center;
}

#testing_container .prj_key_finding_container{
    flex-wrap: wrap
}

.focus_chart{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: var(--size-medium);
}

.focus_chart #chart_div_tasks{
    position: relative;
    height:400px;
    width:45%;
    overflow:hidden;
    padding:20px;
    background-color: #fafafa;
}
.focus_chart #chart_div_fav{
    position: relative;
    height:400px;
    width:45%;
    overflow:hidden;
    padding:20px;
    background-color: #fafafa;
}

@media only screen and (max-width: 900px) {
   
    .prj_landing_right img{
        width: 100%;
        top: -100px;
    } 
    .prj_key_finding_container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        margin-bottom: var(--size-medium);
    }
    }


@media only screen and (max-width: 600px) {

    .prj_landing_right img{
        width: 100%;
        top: -100px;
    } 
    
    .prj_stack_content_row {
        position: relative;
        display: flex;
        margin-bottom: 0;
        max-width: var(--width-max);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .prj_stack_content_row p{
        width:100%
    }
    
    .prj_key_finding_container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        margin-bottom: var(--size-medium);
    }
    .focus_chart{
        position: relative;
        display:flex;
        flex-direction: column;
       
    }
    .focus_chart #chart_div_tasks{
        position: relative;
        height:400px;
        width:max-content;
        overflow:hidden;
        padding:20px;
        background-color: #fafafa;
    }
    .focus_chart #chart_div_fav{
        position: relative;
        height:400px;
        width:max-content;
        overflow:hidden;
        padding:20px;
        background-color: #fafafa;
    }
    }