
:root {
   
    --color-primary:184, 212, 250;
    --color-primary-dark:56, 101, 186;
    
}

/* .landing_grid{
    height:550px
}

.sec_1 {
    display: block;
    position: relative;
    background-color: rgba(var(--color-grey), 0.1);
    width: 100%;
    min-height: 450px;
    overflow: visible;
    height:auto
} */

.sec_1{
    height:fit-content
}
.mobagel_landing{
    width:100%;
    height:fit-content;
    padding-bottom:0
}
.mobagel_landing img{
    display:grid;
    grid-column: 1 /span 12;
    width:100%

}
/* .prj_landing_right img{
    width:120%;



} */

.row_container_disclaimer{
    position: relative;
    grid-column: 1 / span 12;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
    max-width: var(--width-max);
    background-color: rgba(var(--color-primary-dark), 1);
    padding: var(--size-medium)

}

.row_container_disclaimer h4{
    font-style: italic;
    color: rgba(var(--color-white), 1)
}

.disclaimer_text{
    align-self: center;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0;
    color: rgba(var(--color-white), 1)
}
.prj_in_text_link{
    /* color: rgba(var(--color-white), 1); */
    text-decoration: underline;
    text-decoration-thickness:2px;
    text-underline-offset: 6px;
    text-decoration-color:rgba(var(--color-white), 1);
    transition: all 0.3s ease-in-out
}

.prj_in_text_link:hover{
    color: rgba(var(--color-white), 1);
    text-decoration: underline;
    text-decoration-thickness:2px;
    text-underline-offset: 6px;
    text-decoration-color:rgba(var(--color-white), 1);
    transition: all 0.3s ease-in-out
}

@media only screen and (max-width: 900px) {

    .prj_landing_right img{
        width:100%;
        left:0;
    
    }

}


@media only screen and (max-width: 600px) {

.sec_1{
    min-height: fit-content;
}
.mobagel_landing {
    position: relative;
    display: flex;
    height: 400px;
 
}

}

